* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  border-width: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input {
  border-style: groove;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}

.addBtn {
  border-radius: 10px;
  font-size: 12px;
  padding: 15px;
  margin: 15px;
  background-color: rgb(103, 163, 47);
}

.addBtn:hover {
  background-color: yellow;
  transition: all 0.4s ease-out;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.del {
  border-radius: 15px;
  background-color: teal;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 4px;
  margin: 4px;
}

.del:hover {
  background-color: tomato;
  transition: background-color 0.3s ease-out;
}

.ul {
  border-style: solid;
  border-color: rgb(139, 125, 125);
}

.numb {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}
