* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  border-width: 0px;
}
li {
  background-color: rgb(177, 174, 174);
  border-radius: 5px;
  margin: 10px 4px;
  padding: 5px 2px;
}

li span {
  min-width: 130px;
  padding-left: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 40px;
}

.container div {
  max-width: 340px;
}

.input {
  outline: none;
  border-style: groove;
  font-size: 15px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
}

.addBtn {
  min-width: 86px;
  border-radius: 10px;
  font-size: 12px;
  padding: 15px;
  margin: 15px 0px 15px 30px;
  background-color: rgb(103, 163, 47);
}

.addBtn:hover {
  background-color: yellow;
  transition: all 0.4s ease-out;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.del {
  border-radius: 15px;
  background-color: teal;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 4px;
  margin: 4px 4px 4px 140px;
}

.del:hover {
  background-color: tomato;
  transition: background-color 0.3s ease-out;
}

.ul {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
}

.numb {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}
